
@{
    ViewData["Title"] = "Steeltoe Demo";
}
<h2>The client will automatically detect the service, and get the result.</h2>

<!--<h3>@ViewData["CallResult"]</h3>-->

 @using (Html.BeginForm("Home", "Index2")){    
         <input type="submit" value="try me" />
        }