
@{
    ViewData["Title"] = "Steeltoe Demo";
}
<h2>Please try click the following Button.</h2>

<!--<h3>@ViewData["CallResult"]</h3>-->

 @using (Html.BeginForm("CallResult", "Home")){    
         <input type="submit" value="try me" />
        }